/* static/css/style.css */
#chat-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* This will center the title */
}
#download-btn {
    margin-left: 10px;
}

#loading-indicator {
    display: none;
    font-size: 2em; /* Increase the size */
    color: red; /* Change the color */
    animation: blink 1s linear infinite; /* Add a blinking animation */
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/background_image');
    background-size: cover;
}
#content-area {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#chat-box {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.5);
}


#new-story-btn:hover,
#download-btn:hover,
#change-background:hover,
#clear-btn:hover,
#save-story-btn:hover,
#show-story-btn:hover {
    background-color: #0056b3;
}
#stories-list {
    flex-shrink: 0; /* prevent stories-list from shrinking */
    width: 300px; /* set a fixed width for stories-list */
    overflow-y: auto;
    border-left: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    list-style-type: none; /* remove default bullet points */
    margin: 0; /* remove default margin */
    padding: 0; /* remove default padding */
}

#new-story-btn,
#download-btn,
#change-background,
#clear-btn,
#save-story-btn,
#show-story-btn {
    height: 50px; /* Adjust this value to match the height of the "Send" and "Generate" buttons */
}

#button-area {
    text-align: center;
}

#stories-list li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer; /* change cursor on hover */
}

#stories-list li:hover {
    background-color: #f0f0f0; /* change background color on hover */
}
#chat-container {
    width: 40%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.5); /* white with 50% opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-box div {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d8d8d8;
    border-radius: 5px;
    max-width: 75%;
}

#input-area {
    display: flex;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #eee;
}

#chat-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%; /* Adjust this value to make the input field wider */
}
#generate-button, #send-btn {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#generate-button:hover, #send-btn:hover {
    background-color: #0056b3;
}
