<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title> <!-- This is where the title is set -->
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Link to CSS file -->
    <script src="/static/js/chat.js" defer></script>
</head>
<body>
    <div id="chat-container">
        <div id="chat-title">{{ title }}</div> <!-- This is where the title is displayed in the chat UI -->
        <div id="content-area">
            <div id="chat-box"></div>
                 <div id="stories">
                    <h3>Saved Stories</h3>
                    <ul id="stories-list"></ul>
                 </div>
            <div class="parameters">
                <h3>Parameters</h3>
                <form id="parameters-form">
                    <label for="max_tokens">Max Tokens:</label><br>
                    <input type="number" id="max_tokens" name="max_tokens" value="1024"><br>
                    <label for="min_p">Min P:</label><br>
                    <input type="number" id="min_p" name="min_p" value="0.2"><br>
                    <label for="top_k">Top K:</label><br>
                    <input type="number" id="top_k" name="top_k" value="100"><br>
                    <label for="top_p">Top P:</label><br>
                    <input type="number" id="top_p" name="top_p" value="0.9"><br>
                    <label for="temperature">Temperature:</label><br>
                    <input type="number" id="temperature" name="temperature" value="0.8"><br>
                </form>
            </div>
        </div>
        <div id="input-area">
            <span id="loading-indicator" style="display: none;">...</span>
            <input type="text" id="narrator-input" placeholder="Narrator">
            <input type="text" id="chat-input" placeholder="your character's next action or words......">
            <button id="send-btn" onclick="sendMessage()">Send</button>
            <button id="generate-button">Generate</button>
        </div>
        <div id="button-area">
            <button onclick="window.location.href='{{ url_for('download_chat_history') }}'" id="download-btn">Download Chat History</button>
            <button id="new-story-btn">New Story</button>
            <button id="change-background">Change Background</button>
            <button id="clear-btn">Clear Chat History</button>
            <button id="save-story-btn" onclick="saveStory()">Save Story</button>
            <button id="show-story-btn" onclick="getAllStories()">Show Stories</button>
        </div>
    </div>
</body>
</html>